html {
  font-size: 100%;
}

h4 {
    font-weight:bold;
}

h5 {
	font-weight:bold;
}

h2 {
    font-weight:bold;
}

h3 {
    font-weight:bold;
}

body {
	font-size: 15px;
	padding-top: 50px;
	color: #222;
	background: #fff;
}

body.dark-theme {
	color: #808080;
	background: #222222;
	font-weight: 500;
}

body.dark-theme a {
  color: #809fff;
}


a.anchor{
    display: block;
    position: relative;
    top: -70px;
    visibility: hidden;
}

.nav-pills > li.dropdown > a:hover,
.nav-pills > li.dropdown > a:focus
{
  background-color: #E9E7BA;
}

.list-inline{display:block; margin-left:15px; }
.list-inline li{display:inline-block; padding-left:0; padding-right:0; }
.list-inline li:not(:last-child):after{content:'\25AA'; color:#668800; margin-left:15px; margin-right:10px; }

.footer {
    padding-top: 22px;
    text-align:center;
}

.container h4 {
    padding-top: 10px;
}

.row_content div {
	background: #222222;
}

.publications p {
    padding-bottom: 10px;
}

.header {
    padding-bottom: 10px;
}